*.iml
*~
*.DS_Store
.history
/.idea/
target/
*.class
template-ci
.gitmodules
.sass-cache

containers/
tags.txt

node_modules
bower_components
sample/node_modules
sample/bower_components
vendors
!empty
reports/*
build
