<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl" app-version="<%= version %>">
  <head>
    <title></title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="vendors/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendors/foundation/css/foundation.css">
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

  </head>
  <body>
    
    <header class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      </nav>
    </header>
    
    <div ui-view="main"></div>

    <!-- compiled JS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

  </body>
</html>
